Repository johnitvn/go-observability: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, format, shellcheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks detect --no-banner
    golangci-lint:
      tags: backend style
      glob: "*.go"
      run: golangci-lint run --fix {staged_files}
    format:
      glob: "*.{json,md,yml,yaml,toml,sh}"
      run: dprint fmt {staged_files} --allow-no-files && git add {staged_files} && dprint check {staged_files} --allow-no-files
    shellcheck:
      glob: "*.{sh,bash}"
      run: shellcheck {staged_files}

commit-msg:
  commands:
    conform:
      run: conform enforce --commit-msg-file {1}

pre-push:
  commands:
    test:
      run: echo "@TODO Need to implement tests before pushing!"

chore: enhance ServiceName assignment logic in BaseConfig
  config.go
  metadata.go
Due: golangci-lint

chore: update devcontainer configuration
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: format, shellcheck

ci: add retry helpers for curl commands in E2E tests
  e2e/run-e2e.sh
Due: format, shellcheck

fix: downgrade go version from 1.25.5 to 1.24
  go.mod
  go.sum
Due: none

docs: add initial documentation and mkdocs setup
  .github/workflows/docs-deploy.yml
  .lefthook.yml
  README.md
  Taskfile.yml
  docs/assets/.gitkeep
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/audit.md
  docs/configuration.md
  docs/contributing.md
  docs/examples.md
  docs/getting-started.md
  docs/gin-middleware.md.md
  docs/grpc.md
  docs/index.md
  docs/logging.md
  docs/otel.md
  mkdocs.yml
Due: format

docs: add End-to-End (E2E) Testing Guide to README
  e2e/README.md
Due: format

test: add GinTracing test to verify trace header injection
  gin_middleware_test.go
Due: golangci-lint

test: add recovery interceptor test with trace ID and validate error handling
  grpc_interceptor_test.go
Due: golangci-lint

test: add logger sync and fatal exit tests
  logger_test.go
Due: golangci-lint

feat: validate METRICS_PORT range is a valid port (1-65535)
  config.go
  config_test.go
Due: golangci-lint

feat: bind metrics server port immediately to handle startup failures
  otel.go
  otel_test.go
Due: golangci-lint

docs: update getting started guide with installation and usage instructions
  README.md
  docs/getting-started.md
Due: format

test: add recovery interceptor test for gRPC stream with trace ID
  grpc_interceptor_test.go
Due: golangci-lint

test: add tests for metadata setting and LDFlags injection in configuration
  config_test.go
Due: golangci-lint
